{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
    <style>
        .table-container {
            opacity: 0;
            transform: translateY(20px);
            animation: fadeIn 1s ease forwards, slideIn 1s ease forwards;
        }

        @keyframes fadeIn {
            100% {
                opacity: 1;
            }
        }

        @keyframes slideIn {
            100% {
                transform: translateY(0);
            }
        }

        #dino-game {
            position: relative;
            height: 200px;
            width: 100%;
            border: 1px solid #ccc;
            overflow: hidden;
            background-color: #f0f0f0;
        }

        .dino {
            position: absolute;
            bottom: 0;
            left: 20px;
            width: 30px;
            height: 30px;
            background-color: #000;
        }

        .obstacle {
            position: absolute;
            bottom: 0;
            right: -30px;
            width: 30px;
            height: 30px;
            background-color: #f00;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            // Dino game
            const dinoGame = document.getElementById('dino-game');
            const dino = document.querySelector('.dino');
            let isJumping = false;
            let gameStarted = false; // Add this line to track if the game has started

            document.addEventListener('keydown', function (event) {
                if (!gameStarted && event.code === 'Space') {
                    gameStarted = true; // Set gameStarted to true when spacebar is pressed for the first time
                    startGame();
                } else if (gameStarted && event.code === 'Space' && !isJumping) {
                    jump();
                }
            });

            function startGame() {
                setInterval(createObstacle, 2000); // Move this line inside startGame function
            }

            function jump() {
                isJumping = true;
                let position = 0;
                let timerId = setInterval(function () {
                    if (position >= 80) {
                        clearInterval(timerId);
                        let downTimerId = setInterval(function () {
                            if (position <= 0) {
                                clearInterval(downTimerId);
                                isJumping = false;
                            }
                            position -= 4;
                            dino.style.bottom = position + 'px';
                        }, 20);
                    }
                    position += 4;
                    dino.style.bottom = position + 'px';
                }, 20);
            }

            function createObstacle() {
                const obstacle = document.createElement('div');
                obstacle.classList.add('obstacle');
                dinoGame.appendChild(obstacle);


                // Change the initial position of the obstacle
                let obstaclePosition = -30;
                obstacle.style.left = ''; // Remove the "left" style
                obstacle.style.right = obstaclePosition + 'px'; // Set the "right" style instead

                let obstacleTimerId = setInterval(function () {
                    if (obstaclePosition >= dinoGame.clientWidth) {
                        clearInterval(obstacleTimerId);
                        dinoGame.removeChild(obstacle);
                    } else if (
                        obstaclePosition > dinoGame.clientWidth - 90 &&
                        obstaclePosition < dinoGame.clientWidth - 30 &&
                        dino.style.bottom.slice(0, -2) < 30
                    ) {
                        clearInterval(obstacleTimerId);
                        alert('Game Over!');
                        location.reload();
                    } else {
                        obstaclePosition += 4;
                        obstacle.style.right = obstaclePosition + 'px';
                    }
                }, 20);
            }

        });
    </script>
{% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}
        <h4>Logged in as: {{ current_user.email }}</h4>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Add Website form -->
                <h2>Add Website</h2>
                <form method="post" action="{{ url_for('main.dashboard') }}" class="form">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.url.label(class="form-control-label") }}
                        {{ form.url(class="form-control", placeholder="e.g. https://www.google.com or https://example.com/") }}
                        {% for error in form.url.errors %}
                            <span class="form-error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Add Website</button>
                </form>
            </div>
            <div class="col-lg-6">
                <h2>My Websites</h2>
                <input type="text" id="websiteFilter" placeholder="Filter Websites" class="form-control mb-3">
                <div class="table-container">
                    {% if websites %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>URL</th>
                                <th>Status</th>
                                <th>Last Checked</th>
                                <th>Last Notified</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for website in websites %}
                                <tr>
                                    <td>{{ website.url }}</td>
                                    <td>
                                        {% if website.status %}
                                            <span class="label label-success">Online</span>
                                        {% else %}
                                            <span class="label label-danger">Offline</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ website.last_checked.strftime('%Y-%m-%d %H:%M') if website.last_checked else '-' }}</td>
                                    <td>
                                        {% for user_website in current_user.user_websites %}
                                            {% if user_website.website_id == website.id %}
                                                {{ user_website.last_notified.strftime('%Y-%m-%d %H:%M') if user_website.last_notified else '-' }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <form method="post" action="{{ url_for('main.delete_website', id=website.id) }}"
                                              onsubmit="return confirm('Are you sure you want to delete this website?');">
                                            {{ form.hidden_tag() }}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    {% else %}
                        <p>No websites added yet.</p>
                    {% endif %}
                <p>Remaining Notifications: {{ current_user.remaining_notifications }}</p>
            </div>
        </div>
        <hr>
    </div>

    <!-- Add the dinosaur game -->
    <div class="row mt-5">
        <div class="col-lg-6">
            <h2>Dino Game</h2>
            <p>Press spacebar to jump!</p>
            <div id="dino-game">
                <div class="dino"></div>
            </div>
        </div>
    </div>
{% endblock %}
